html {
    background-color: black;
    color: white;
    margin: 80px;

}

.main {
    width: 420px;
    height: auto;
}
    
h1 {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

.track {
    display: flex;
    margin-top: 10px;
}

.styled-button {
    background-color: white;
    padding: 10px 20px;
    margin: 5px;

    width: 420px;
    height: 150px;
    float: left;

    text-align: center;
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    border-radius: 3px;
    border: 0;

}


.login{
    width: 25em;
    height:auto;
    margin-left: 800px;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


h2 {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 15px;
    text-align: center;
}


input {
    width: 300px;
    height: 40px;

    display: flex;
    flex-direction: column;

    margin-bottom: 15px;
    padding-left: 25px;

    background-position-x: 5px;
    background-position-x: 10px;
    background-repeat: no-repeat;
    background-position-y: center;

    border-radius: 35px;
    border: 0;
}


input::placeholder {
    color: gray;
    font-weight: bolder;
    font-style: italic;

}

.apply {
 
    width: 200px;
    height: 40px;
    color: white;
    
    margin-top: 20px;
    font-size: medium;
    font-weight: bold;

    border-radius: 35px;
    border: 0;

    background-color: orange;

}
